.centralFlash {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    position: relative;

    .bgOpacity {
        background-color: #504f4fd7;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 2;
        opacity: 0.2;
        animation: bgAfterVideo 1s ease 4s forwards;
    }
    
    .videoBg {
        position: absolute;
        z-index: -1;
    }

    .centralArea {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        z-index: 3;
        left: 150px;
        gap: 200px;

        .logoLightning {
            .redArea {
                fill: transparent;
                animation: lightRedArea 800ms 4s ease forwards;
            }
        }
        .imageCentral {
        }
    }
    .lightning {
        position: absolute;
        z-index: 2;
    }
}

@keyframes lightRedArea {
    to {
       fill: red; 
    }
}

@keyframes bgAfterVideo{
    to{
        background: url(../public/images/wallpaper.jpg) center center;
        opacity: 1;
    }
}

